<div class="card">
    <a href="/{item.id}" class="imageContainer">
      <img src="{item.images[0]}" alt="" />
    </a>
    <div class="textContainer">
      <h2 class="title">
        <a href="/{item.id}">{item.title}</a>
      </h2>
      <p class="address">
        <img src="/pin.png" alt="" />
        <span>{item.address}</span>
      </p>
      <p class="price">$ {item.price}</p>
      <div class="bottom">
        <div class="features">
          <div class="feature">
            <img src="/bed.png" alt="" />
            <span>{item.bedroom} bedroom</span>
          </div>
          <div class="feature">
            <img src="/bath.png" alt="" />
            <span>{item.bathroom} bathroom</span>
          </div>
        </div>
        <div class="icons">
          <div class="icon">
            <img src="/save.png" alt="" />
          </div>
          <div class="icon">
            <img src="/chat.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  