<div style="width: 100%; ; border-radius: 10px; position: relative; overflow: hidden;">

              <div id="map"></div>
            </div>




















<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <style>
    /* Style the map container */
    #map {
      height: 100%;
      width: 100%;
      z-index: 0;
      min-height: 300px;
    }
    .mapclass{
      max-width: 2200px;

    }

    .li{
      margin: 35px;
    }
    
.popupContainer {
    display: flex;
    gap: 20px;
}
.popupContainer img {
    width: 64px;
    height: 48px;
    object-fit: cover;
    border-radius: 5px;
}
.popupContainer .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  </style>



  <script>

    storeList = []
    const storeData = <%- JSON.stringify(data)%>

for (var i = 0; i < storeData.length; i++) {
    let img = storeData[i].images[0]
   
    if(img==undefined){
      img = 'default.jpg'
    }
    obj = {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [storeData[i].longitude, storeData[i].latitude]
        },
        "properties": {
          "name": storeData[i].title,
          "address": storeData[i].address,
          "price": storeData[i].price,
          "bed":storeData[i].bedroom,
          "bath":storeData[i].bathroom,
          "id":storeData[i].id,
          "img":img
        }
      }

  storeList.push(obj);
}


const myMap = L.map('map').setView([22.9074872, 79.07306671], 4);
const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
const attribution =
        'Coded by jay patel';
const tileLayer = L.tileLayer(tileUrl, { attribution });
tileLayer.addTo(myMap);

function makePopupContent(shop) {
  return `
  <div class="popupContainer">
          <img src=${shop.properties.img} alt="" />
          <div class="textContainer">
            <A href='/place/${shop.properties.id}'>${shop.properties.name}</Link>
            <span>${shop.properties.bed} bedroom</span>
            <b>$ ${shop.properties.price}</b>
          </div>
        </div>



  `;
}
function onEachFeature(feature, layer) {
    layer.bindPopup(makePopupContent(feature), { closeButton: false, offset: L.point(0, -8) });
}

var myIcon = L.icon({
    iconUrl: '/public/marker.png',
    iconSize: [30, 40]
});

const shopsLayer = L.geoJSON(storeList, {
    onEachFeature: onEachFeature,
    pointToLayer: function(feature, latlng) {
        return L.marker(latlng, { icon: myIcon });
    }
});
shopsLayer.addTo(myMap);

function flyToStore(store) {
    const lat = store.geometry.coordinates[1];
    const lng = store.geometry.coordinates[0];

    myMap.flyTo([lat, lng],
         14, {
        duration: 3
    });
    setTimeout(() => {
        L.popup({closeButton: false, offset: L.point(0, -8)})
        .setLatLng([lat, lng])
        .setContent(makePopupContent(store))
        .openOn(myMap);
    }, 3000);
}






  </script>


 


    

















