




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Blog</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">


</head>

<body>
    <%- include('includes/header',{data:user}) %>




        <!-- ---------------------------------- -->

        <div class="mt-[90px]">
            <div class="px-10 md:px-36 my-10">
                <h2 class="font-bold text-2xl">Update User Details</h2>
                <form method="post" action="/user/updateuser" enctype="multipart/form-data">
                    <div>
                        <div class="p-5 border rounded-lg shadow-md grid gap-7 mt-6">
              










                            <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                                <div class="flex gap-2 flex-col">
                                    <h2 class="text-gray-500">UserName</h2><input
                                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        placeholder="Ex.2" type="text" name="username" value="<%=user.username%>">
                                </div>
                                <div class="flex gap-2 flex-col">
                                    <h2 class="text-gray-500">Email</h2><input
                                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        placeholder="Ex.2" type="text" name="email" value="<%=user.email%>">
                                </div>
                                <div class="flex gap-2 flex-col">
                                    <h2 class="text-gray-500">New Password</h2><input
                                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        placeholder="Ex.1900 Sq.ft" type="text" name="password">
                                </div>
                            </div>
                            <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                                <div class="flex gap-2 flex-col">
                                    <h2 class="text-gray-500">Phone</h2>
                                    <input
                                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        placeholder="Ex.2" type="number" name="phone">
                                </div>

                            </div>

<!-- 
                            <div class="grid  grid-cols-1  gap-10">
                                <div class="flex gap-2 flex-col">
                                    <h2 class="text-gray-500">Description</h2><textarea
                                        class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        placeholder="" name="desc"></textarea>
                                </div>
                            </div> -->


                            <div>
                                <h2 class="font-lg text-gray-500 my-2">Upload Profile Images</h2>
                                <div>
                                    <div class="flex items-center justify-center w-full">
                                        <label for="dropzone-file"
                                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">

                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                    viewBox="0 0 20 16">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2"
                                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2">
                                                    </path>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                        class="font-semibold">Click to upload</span> or drag and drop
                                                </p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF
                                                    (MAX.
                                                    800x400px)</p>
                                            </div><input name="avatar" id="dropzone-file" class="hidden"
                                                accept="image/png, image/gif, image/jpeg" type="file">
                                        </label>
                                    </div>
                                    <div id="imageSlider"
                                        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-10 gap-3 mt-3 ">
                                        <img src="/uploads/<%=user.avatar%>" alt="" srcset="">
                                    </div>
                                    <div
                                        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-10 gap-3 mt-3">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="flex gap-7 justify-end"><button
                                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 text-primary border-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



</body>

</html>































<script>
    document.getElementById('dropzone-file').addEventListener('change', function (event) {
        const files = event.target.files;
        const imageSlider = document.getElementById('imageSlider');

        // Clear existing images
        imageSlider.innerHTML = '';

        // Iterate through uploaded files
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            if (!file.type.startsWith('image/')) continue;

            // Create new image element
            const image = document.createElement('img');
            image.src = URL.createObjectURL(file);
            image.alt = 'Uploaded Image';
            image.classList.add('image-slide');

            // Append image to container
 
            imageSlider.appendChild(image);
        }
    });
</script>


















